# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# example binaries
examples/delete_sysex
examples/delete_sysex.exe
examples/midi_read_write
examples/midi_read_write.exe
examples/write_notes
examples/write_notes.exe
examples/write_notes.mid
examples/scale_velocity
examples/scale_velocity.exe
examples/to_text
examples/to_text.exe
examples/map_instruments
examples/map_instruments.exe
